<nav class="nav navbar ww-navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item ww-navbar-item--brand ww-navbar-item" href="#home">
        wonderworks
      </a>

      <div class="navbar-burger burger" data-target="wwNavMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu" id="wwNavMenu">
      <div class="navbar-end">
        <a class="navbar-item ww-navbar-item" href="#about">
          About
        </a>
        <a class="navbar-item ww-navbar-item" href="#gallery">
          Gallery
        </a>
        <a class="navbar-item ww-navbar-item" href="#contact">
          Contact
        </a>

      </div>
    </div>
  </div>
</nav>
