<nav class="navbar ww-navbar">
    <div class="navbar-brand">
        <a class="navbar-item ww-brand-link" href="#home">
            <!--<img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">-->
            <strong>Wonderworks</strong>
        </a>

        <a class="navbar-item" href="#about">
            About
        </a>
        <a class="navbar-item" href="#gallery">
            Gallery
        </a>
        <a class="navbar-item" href="#contact">
            Contact
        </a>

        <div class="navbar-burger burger" data-target="navMenuExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>