@import "../../theme_overrides/ww_variables";

.ww-brand-link {
}

.ww-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 100;

  a.ww-navbar-item--brand { // override
    color: $primary;
  }
}

.ww-navbar-item {
  text-transform: lowercase;
  font-weight: bold;
  letter-spacing: 1px;

  &--brand {
    font-size: 1.25em;
  }
}
