@import "../../theme_overrides/ww_variables";

.ww-gallery {
  $background-url: "../../assets/images/baking3.jpg";
  background: linear-gradient(rgba(0, 0, 0, 0.8),
          rgba(0, 0, 0, 0.8)), url($background-url) no-repeat no-repeat bottom center fixed;
  background-size: cover;

  &__photos {
    margin-top: 1.25em;
  }
  &__more {
    margin-top: 1.5em;
  }

  .title {
    margin-top: 1em;
  }
}

.ww-square-image {
  //object-fit: cover;
}

.ww-rounded-img {
  border-radius: 6px;
}

.photo-container {
  height: 90vh;
}

.img-container {
}

.photo-img {
}

//@media screen and (max-width: 400px) {
//  .photo-container .img-container {
//    margin: 0;
//  }
//  .photo-container {
//    padding: 0;
//  }
//
//}

.ww-flex {
  display: flex;
  flex-direction: column;
  //justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;

  &__item-image {
    max-width: 15vw;
    margin: 15px;
  }
}