<!--The whole content below can be removed with the new code.-->
<app-navigation-bar></app-navigation-bar>

<section class="hero is-large is-primary ww-banner" id="home">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">
        wonderworks specialty cakes
      </h1>
      <h2 class="subtitle">
        Hero subtitle lorem ipsum dolores
      </h2>
      <span class="ww-theme__title-separator ww-theme__title-separator--centered"></span>
      <button class="button is-large is-primary">Request A Quote</button>
    </div>
  </div>
</section>

<section class="section is-medium" id="about">
  <div class="container has-text-centered">
    <div class="content is-large">
      <h1>About</h1>
      <span class="ww-theme__title-separator ww-theme__title-separator--centered"></span>
      <p>Tootsie roll gummies tiramisu icing caramels jujubes biscuit ice cream. Cake pastry oat cake
        cotton candy
        muffin muffin marzipan fruitcake. Chocolate jelly beans danish. Bonbon cupcake icing tiramisu jelly-o
        macaroon pie pie cookie.</p>
      <p>Danish cookie tart dessert topping muffin sweet roll gummies. Halvah gummies topping carrot
        cake pudding
        wafer chocolate. Dragée caramels powder cake halvah tart.</p>
    </div>
  </div>
</section>

<app-gallery></app-gallery>

<section class="section" id="contact">
  <div class="container">
    <p class="title is-1">Get In Touch</p>
    <span class="ww-theme__title-separator"></span>
    <div class="columns">
      <div class="column is-one-third">
        <p class="ww-contact__item">
          <span class="fa fa-location-arrow ww-contact__icon"></span> Tacoma, Washington
        </p>
        <p class="ww-contact__item">
          <a href="mailto:email@email.com"><span class="fa fa-envelope-o ww-contact__icon"></span></a> lorem@ipsumn.com
        </p>
        <p class="ww-contact__item">
          <a href="#"><span class="fa fa-thumbs-o-up ww-contact__icon"></span></a> Like us on Facebook
        </p>
        <p class="ww-contact__item">
          <a href="#"><span class="fa fa-facebook ww-contact__icon"></span></a> Facebook Page
        </p>

      </div>
      <div class="column">
        <div class="field is-grouped ">
          <p class="control is-expanded">
            <input type="text" class="input " placeholder="First Name" required>
          </p>
          <p class="control is-expanded">
            <input type="text" class="input" placeholder="Last Name">
          </p>
        </div>
        <div class="field">
          <p class="control">
            <input type="email" class="input" placeholder="E-mail">
          </p>
        </div>
        <div class="field">
          <p class="control">
            <textarea class="textarea" placeholder="Your message"></textarea>
          </p>
        </div>
        <button class="button is-primary">Submit</button>
      </div>
    </div>
  </div>
</section>

<footer class="footer" id="footer">
  <div class="container">
    <div class="content has-text-centered">Copyright 2017 - Wonderworks Specialty Cakes.</div>
  </div>
</footer>

