<!--The whole content below can be removed with the new code.-->
<app-navigation-bar></app-navigation-bar>

<section class="hero is-large is-dark ww-banner" id="home">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 ww-banner__title">
        wonderworks specialty cakes
            </h1>
            <h2 class="subtitle">
                Hero subtitle lorem ipsum dolores
            </h2>
            <span class="ww-theme__title-separator"></span>
            <p>
                <a class="button is-primary is-large" href="#contact">Request A Quote</a>
            </p>
        </div>
    </div>
  </div>
</section>
<section class="section is-medium" id="about">
    <div class="container has-text-centered">
        <div class="content is-large">
            <h1>About</h1>
            <span class="ww-theme__title-separator ww-theme__title-separator--centered"></span>
            <p>Wonderworks specializes in made-to-order cakes, decorated to high standards and made with the finest
                ingredients available.</p>

            <p>Whether it's birthdays, anniversaries, weddings or anything in-between, we'll work with you to ensure your custom-made cake
                will be as memorable as the event you're celebrating.</p>

            <p>Contact us today to get started!</p>
        </div>
    </div>
  </div>
</section>

<app-gallery></app-gallery>
<section class="hero is-dark">
    <section class="hero-body">
        <div class="container">
            <p class="title"> Cakes are special. Every birthday, every celebration ends with something sweet, a cake, and people remember. It's all about the memories.</p>
            <span class="ww-theme__title-separator"></span>
            <p class="subtitle"><em>Buddy Valastro, "Cake Boss"</em></p>
        </div>
    </section>
</section>
<section class="hero is-light ww-banner__title ww-gallery" id="gallery">
    <div class="hero-body">
        <div class="container-fluid content is-large has-text-centered">
            <h1 class="">Gallery</h1>
            <span class="ww-theme__title-separator ww-theme__title-separator--centered"></span>
            <div class="columns is-multiline ww-gallery__photos">
                <div class="column is-3">
                    <img src="http://via.placeholder.com/750x450">
                </div>
                <div class="column is-3">
                    <img src="http://via.placeholder.com/750x450">
                </div>
                <div class="column is-3">
                    <img src="http://via.placeholder.com/750x450">
                </div>
                <div class="column is-3">
                    <img src="http://via.placeholder.com/750x450">
                </div>
                <div class="column is-3">
                    <img src="http://via.placeholder.com/750x450">
                </div>
                <div class="column is-3">
                    <img src="http://via.placeholder.com/750x450">
                </div>
                <div class="column is-3">
                    <img src="http://via.placeholder.com/750x450">
                </div>
                <div class="column is-3">
                    <img src="http://via.placeholder.com/750x450">
                </div>
                <div class="column is-3">
                    <img src="http://via.placeholder.com/750x450">
                </div>
                <div class="column is-3">
                    <img src="http://via.placeholder.com/750x450">
                </div>
            </div>
            <p class="">
                <button class="button is-light">Show More...</button>
            </p>
        </div>
    </div>
</section>

<section class="section is-medium" id="contact">
  <div class="container">
    <p class="title is-1">Get In Touch</p>
    <span class="ww-theme__title-separator"></span>
    <div class="columns">
      <div class="column is-one-third">
        <p class="ww-contact__item">
          <span class="fa fa-location-arrow ww-contact__icon"></span> Tacoma, Washington
        </p>
        <p class="ww-contact__item">
          <a href="mailto:email@email.com"><span class="fa fa-envelope-o ww-contact__icon"></span></a> lorem@ipsumn.com
        </p>
        <p class="ww-contact__item">
          <a href="#"><span class="fa fa-thumbs-o-up ww-contact__icon"></span></a> Like us on Facebook
        </p>
        <p class="ww-contact__item">
          <a href="#"><span class="fa fa-facebook ww-contact__icon"></span></a> Facebook Page
        </p>

      </div>
      <div class="column">
        <div class="field is-grouped ">
          <p class="control is-expanded">
            <input type="text" class="input " placeholder="First Name" required>
          </p>
          <p class="control is-expanded">
            <input type="text" class="input" placeholder="Last Name">
          </p>
        </div>
        <div class="field">
          <p class="control">
            <input type="email" class="input" placeholder="E-mail">
          </p>
        </div>
        <div class="field">
          <p class="control">
            <textarea class="textarea" placeholder="Your message"></textarea>
          </p>
        </div>
        <button class="button is-primary">Submit</button>
      </div>
    </div>
  </div>
</section>

<footer class="footer" id="footer">
  <div class="container">
    <div class="content has-text-centered">Copyright 2017 - Wonderworks Specialty Cakes.</div>
  </div>
</footer>

