<!--The whole content below can be removed with the new code.-->
<app-navigation-bar></app-navigation-bar>

<section class="hero is-large is-primary ww-banner" id="home">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">
                Wonderworks Specialty Cakes
            </h1>
            <h2 class="subtitle">
                Hero subtitle lorem ipsum dolores
            </h2>
        </div>
    </div>
</section>

<section class="section is-medium" id="about">
    <div class="container has-text-centered">
        <p class="title is-1">About</p>
        <hr>
        <p class="subtitle">Tootsie roll gummies tiramisu icing caramels jujubes biscuit ice cream. Cake pastry oat cake
            cotton candy
            muffin muffin marzipan fruitcake. Chocolate jelly beans danish. Bonbon cupcake icing tiramisu jelly-o
            macaroon pie pie cookie.</p>
        <p class="subtitle">Danish cookie tart dessert topping muffin sweet roll gummies. Halvah gummies topping carrot
            cake pudding
            wafer chocolate. Dragée caramels powder cake halvah tart.</p>
    </div>
</section>

<section class="hero is-dark is-medium" id="gallery">
    <div class="hero-body">
        <div class="container-fluid">
            <p class="title is-1 has-text-centered">Gallery</p>
            <hr>
            <div class="columns is-multiline is-gapless">
                <div class="column is-3">
                    <img src="http://via.placeholder.com/750x450">
                </div>
                <div class="column is-3">
                    <img src="http://via.placeholder.com/750x450">
                </div>
                <div class="column is-3">
                    <img src="http://via.placeholder.com/750x450">
                </div>
                <div class="column is-3">
                    <img src="http://via.placeholder.com/750x450">
                </div>
                <div class="column is-3">
                    <img src="http://via.placeholder.com/750x450">
                </div>
                <div class="column is-3">
                    <img src="http://via.placeholder.com/750x450">
                </div>
                <div class="column is-3">
                    <img src="http://via.placeholder.com/750x450">
                </div>
                <div class="column is-3">
                    <img src="http://via.placeholder.com/750x450">
                </div>
                <div class="column is-3">
                    <img src="http://via.placeholder.com/750x450">
                </div>
                <div class="column is-3">
                    <img src="http://via.placeholder.com/750x450">
                </div>
            </div>
            <p class="has-text-centered subtitle">
                <a href="#">More...</a>
            </p>
        </div>
    </div>
</section>

<section class="section" id="contact">
    <div class="container">
        <p class="title">Get In Touch</p>
        <hr>
        <div class="columns">
            <div class="column is-one-third">
                <p class="subtitle">Contact Info</p>
                <p>
                    <a href="mailto:email@email.com"><span class="fa fa-envelope-o"></span></a> lorem@ipsumn.com
                </p>
                <p>
                    <a href="#"><span class="fa fa-thumbs-o-up"></span></a> Like us on Facebook
                    <a href="#"><span class="fa fa-facebook"></span></a> Facebook Page<br>
                </p>

            </div>
            <div class="column">
                <p class="subtitle">Leave a Message</p>
                <div class="field is-grouped ">
                    <p class="control is-expanded">
                        <input type="text" class="input " placeholder="First Name" required>
                    </p>
                    <p class="control is-expanded">
                        <input type="text" class="input" placeholder="Last Name">
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <input type="email" class="input" placeholder="E-mail">
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <textarea class="textarea" placeholder="Your message"></textarea>
                    </p>
                </div>
                <button class="button is-primary">Submit</button>
            </div>
        </div>
    </div>
</section>

<footer class="footer" id="footer">
    <div class="container">
        <div class="content has-text-centered">Copyright 2017 - Wonderworks Specialty Cakes.</div>
    </div>
</footer>

