/*
  Customizing the Bulma theme
 */
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "ww_theme_variables";

.ww-theme__title-separator {

  display: block;
  width: 3em;
  border-bottom: $primary solid 3px;
  text-align: center;
  padding: 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  &--dark {
    border-bottom-color: $primary-invert;
  }
  &--centered {
    margin-right: auto;
    margin-left: auto;
  }
}

@import "../node_modules/bulma/bulma";
