/*
  Customizing the Bulma theme
 */
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "ww_theme_variables";

.ww-theme__title-separator {
// 2. Set your own initial variables
// Update blue
$blue: #72d0eb;
  // Add pink and its invert
$pink: #d90033;
$pink-invert: #fff;
  // Add a serif family
$family-serif: "Palatino", "Merriweather", "Georgia", serif;

  display: block;
  width: 3em;
  border-bottom: $primary solid 3px;
  text-align: center;
  padding: 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  &__abbr {
    cursor: help;
  }
}

@import "../node_modules/bulma/bulma";
