
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

// 2. Set your own initial variables
// Update blue
$blue: #72d0eb;
// Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff;
// Add a serif family
$family-serif: "Playfair Display", "Merriweather", "Georgia", serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: #E07A5F;
$primary-invert: #F4F1DE;
//// Use the existing orange as the danger color
//$danger: $orange;

// Use the new serif family
$family-primary: $family-serif;
